<app-nav></app-nav>
<div class="colored-back-container"></div>
<div class="colored-container">
  <div class="scrollable">
    <div class="card">
      <header>
        <h1>Connexion</h1>
      </header>
      @if (errorMessage) {
      <div>{{ errorMessage }}</div>
      }

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <input type="text" placeholder="Email" formControlName="email" />
        </div>
        <div>
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <div>
          <button type="submit" class="squishy" [disabled]="form.invalid">
            Sign In
          </button>
        </div>
      </form>
    </div>
    <app-footer></app-footer>
  </div>
</div>
