@import "../../../styles.scss";

.nav-container {
  position: absolute;
  top: 1%;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  z-index: 20;
}

.navbar {
  position: relative;
  margin: 0;
  height: 60px;
  max-width: 90%;
  display: flex;
  align-self: center;
  justify-content: flex-start;
  gap: 3%;
  align-items: center;
  padding: 0px 20px;
  background: rgba(255, 255, 255, 0.08);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: expandNavbar 0.3s ease forwards;
  transition: all 0.3s ease;
  overflow: hidden;
  * {
    color: white;
  }

  *:hover {
    color: $tiffany-blue;
  }

  button:hover,
  .btn:hover {
    color: lighten($color: $tiffany-blue, $amount: 15);
  }

  &.collapsed {
    width: 22px;
    overflow: hidden;
    margin-right: auto;
    margin-left: 3.3%;
    animation: collapseNavbar 0.3s ease forwards;
    gap: 90%;
    .nav-links {
      opacity: 0;
      transition: all 0s;
      margin-left: 30px;
    }
  }
}

// (Les animations et autres styles restent inchangés)

@keyframes collapseNavbar {
  0% {
    width: 90%;
    gap: 3%;
  }
  100% {
    width: 22px;
    gap: 60px;
  }
}

@keyframes expandNavbar {
  0% {
    width: 22px;
    margin-right: auto;
    margin-left: 3.3%;
    gap: 60px;
  }
  99% {
    margin-right: auto;
    margin-left: 3.3%;
  }
  100% {
    width: 90%;
    gap: 3%;
  }
}
.navbar a {
  text-decoration: none;
  font-size: larger;
  font-weight: 400;
  transition: all 0.3s ease;
  margin: 0 10px;

  justify-self: center;
}

.navbar .btn {
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;

  justify-self: center;
}

.navbar .toggle-btn {
  position: absolute;
  font-size: 30px;
  margin-left: -12px;
  margin-top: -8px;
  cursor: pointer;
  color: white;
  transition: transform 0.3s ease;
  transform: scale(0.9);
}

.nav-links {
  margin: auto;
  display: flex;
  margin-top: 8px;
}
a.squishy-cosmic {
  padding: 0.4rem 1.1rem;
  transition: all 0.3s ease;
}

.squishy-cosmic {
  margin: 0;
  padding: 0.2rem 0.6rem;
  opacity: 0.65;
}

.squishy-cosmic:hover {
  opacity: 0.65;
}
@media screen and (max-width: 790px) {
  .navbar {
    max-width: 80%;
    &.collapsed {
      width: 22px;
      overflow: hidden;
      // On force l'élément à se déplacer à droite dans le conteneur flex
      margin-left: 3.6;
      margin-right: auto;
    }

    a {
      font-size: medium;
    }
  }
}
//   @keyframes collapseNavbar {
//     0% {
//       width: 90%;
//       left: 2.5%;
//     }
//     100% {
//       width: 22px;
//       left: 85%;
//     }
//   }

//   @keyframes expandNavbar {
//     0% {
//       width: 22px;
//       left: 85%;
//     }
//     100% {
//       width: 90%;
//       left: 2.5%;
//     }
//   }
// }

// @media screen and (max-width: 600px) {
//   .navbar {
//     max-width: 87%;
//     right: 2.5%;
//     &.collapsed {
//       left: 85%;
//     }
//   }

//   @keyframes collapseNavbar {
//     0% {
//       width: 90%;
//       left: 2.5%;
//     }
//     100% {
//       width: 22px;
//       left: 85%;
//     }
//   }

//   @keyframes expandNavbar {
//     0% {
//       width: 22px;
//       left: 85%;
//     }
//     100% {
//       width: 90%;
//       left: 2.5%;
//     }
//   }
// }

// @media screen and (max-width: 500px) {
//   .navbar {
//     max-width: 85%;
//     right: 2.5%;
//     &.collapsed {
//       left: 85%;
//     }
//   }

//   @keyframes collapseNavbar {
//     0% {
//       width: 90%;
//       left: 2.5%;
//     }
//     100% {
//       width: 22px;
//       left: 85%;
//     }
//   }

//   @keyframes expandNavbar {
//     0% {
//       width: 22px;
//       left: 85%;
//     }
//     100% {
//       width: 90%;
//       left: 2.5%;
//     }
//   }
// }
