<app-nav></app-nav>
<div class="colored-container">
  <div class="scrollable">
    <div class="col universes">
      <!-- <pre>Mirojo: {{ mirojoUniverses() | json }}</pre>
      <pre>Utilisateur: {{ userUniverses() | json }}</pre>
      <pre>Public: {{ publicUniverses() | json }}</pre> -->
      <section class="select-universe">
        <h1>
          Sélectionnez un univers
          <div class="resize-display-btn">
            <svg class="defs">
              <defs>
                <filter id="gooeyness">
                  <feGaussianBlur
                    in="SourceGraphic"
                    stdDeviation="2.2"
                    result="blur"
                  />
                  <feColorMatrix
                    in="blur"
                    mode="matrix"
                    values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10"
                    result="gooeyness"
                  />
                  <feComposite
                    in="SourceGraphic"
                    in2="gooeyness"
                    operator="atop"
                  />
                </filter>
              </defs>
            </svg>
            <div class="burger-plates">
              <div
                class="burger-plate burger-plate4"
                onclick="this.classList.toggle('burger-active')"
                appVisibilityToggle="#select-universe"
              >
                <svg
                  class="burger"
                  version="1.1"
                  height="100"
                  width="100"
                  viewBox="0 0 100 100"
                >
                  <path class="burger-line burger-line1" d="M 50,35 H 30" />
                  <path class="burger-line burger-line2" d="M 50,35 H 70" />
                  <path class="burger-line burger-line3" d="M 50,50 H 30" />
                  <path class="burger-line burger-line4" d="M 50,50 H 70" />
                  <path class="burger-line burger-line5" d="M 50,65 H 30" />
                  <path class="burger-line burger-line6" d="M 50,65 H 70" />
                </svg>
                <svg
                  class="burger-x"
                  version="1.1"
                  height="100"
                  width="100"
                  viewBox="0 0 100 100"
                >
                  <path class="burger-line" d="M 34,32 L 66,68" />
                  <path class="burger-line" d="M 66,32 L 34,68" />
                </svg>
              </div>
            </div>
            <button class="display-btn"></button>
          </div>
        </h1>
        <div class="hidden" id="select-universe">
          <!-- Univers créés par Mirojo -->
          <h3>
            Univers de bases
            <div class="resize-display-btn">
              <svg class="defs">
                <defs>
                  <filter id="gooeyness">
                    <feGaussianBlur
                      in="SourceGraphic"
                      stdDeviation="2.2"
                      result="blur"
                    />
                    <feColorMatrix
                      in="blur"
                      mode="matrix"
                      values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10"
                      result="gooeyness"
                    />
                    <feComposite
                      in="SourceGraphic"
                      in2="gooeyness"
                      operator="atop"
                    />
                  </filter>
                </defs>
              </svg>
              <div class="burger-plates">
                <div
                  class="burger-plate burger-plate4"
                  onclick="this.classList.toggle('burger-active')"
                  (click)="toggleMirojo()"
                  appVisibilityToggle="#mirojoUniversesPanel"
                >
                  <svg
                    class="burger"
                    version="1.1"
                    height="100"
                    width="100"
                    viewBox="0 0 100 100"
                  >
                    <path class="burger-line burger-line1" d="M 50,35 H 30" />
                    <path class="burger-line burger-line2" d="M 50,35 H 70" />
                    <path class="burger-line burger-line3" d="M 50,50 H 30" />
                    <path class="burger-line burger-line4" d="M 50,50 H 70" />
                    <path class="burger-line burger-line5" d="M 50,65 H 30" />
                    <path class="burger-line burger-line6" d="M 50,65 H 70" />
                  </svg>
                  <svg
                    class="burger-x"
                    version="1.1"
                    height="100"
                    width="100"
                    viewBox="0 0 100 100"
                  >
                    <path class="burger-line" d="M 34,32 L 66,68" />
                    <path class="burger-line" d="M 66,32 L 34,68" />
                  </svg>
                </div>
              </div>
              <button class="display-btn"></button>
            </div>
          </h3>
          <div id="mirojoUniversesPanel" class="hidden">
            <div
              class="row universe-item"
              *ngFor="let universe of mirojoUniverses()"
            >
              <button (click)="onSelect(universe)">
                {{ universe.name }}
              </button>
              <p>{{ universe.description }}</p>
              <!-- Bouton supprimer avec directive de sécurité -->
            </div>
          </div>
          <!-- Univers créés par l'utilisateur connecté -->
          <h3>
            Vos univers
            <div class="resize-display-btn">
              <svg class="defs">
                <defs>
                  <filter id="gooeyness">
                    <feGaussianBlur
                      in="SourceGraphic"
                      stdDeviation="2.2"
                      result="blur"
                    />
                    <feColorMatrix
                      in="blur"
                      mode="matrix"
                      values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10"
                      result="gooeyness"
                    />
                    <feComposite
                      in="SourceGraphic"
                      in2="gooeyness"
                      operator="atop"
                    />
                  </filter>
                </defs>
              </svg>
              <div class="burger-plates">
                <div
                  class="burger-plate burger-plate4"
                  onclick="this.classList.toggle('burger-active')"
                  (click)="toggleUser()"
                  appVisibilityToggle="#userUniversesPanel"
                >
                  <svg
                    class="burger"
                    version="1.1"
                    height="100"
                    width="100"
                    viewBox="0 0 100 100"
                  >
                    <path class="burger-line burger-line1" d="M 50,35 H 30" />
                    <path class="burger-line burger-line2" d="M 50,35 H 70" />
                    <path class="burger-line burger-line3" d="M 50,50 H 30" />
                    <path class="burger-line burger-line4" d="M 50,50 H 70" />
                    <path class="burger-line burger-line5" d="M 50,65 H 30" />
                    <path class="burger-line burger-line6" d="M 50,65 H 70" />
                  </svg>
                  <svg
                    class="burger-x"
                    version="1.1"
                    height="100"
                    width="100"
                    viewBox="0 0 100 100"
                  >
                    <path class="burger-line" d="M 34,32 L 66,68" />
                    <path class="burger-line" d="M 66,32 L 34,68" />
                  </svg>
                </div>
              </div>
              <button class="display-btn"></button>
            </div>
          </h3>
          <div id="userUniversesPanel" class="hidden">
            <div
              class="row universe-item"
              *ngFor="let universe of userUniverses()"
            >
              <button (click)="onSelect(universe)">
                {{ universe.name }}
              </button>
              <p>{{ universe.description }}</p>
              <button
                type="button"
                (click)="onDelete(universe.id)"
                [appDisableIfNotOwner]="universe.created_by"
              >
                <img
                  class="delete-i"
                  src="../../../../assets/effacer.png"
                  alt="delete"
                />
              </button>
            </div>
          </div>
          <!-- Univers publics -->
          <h3>
            Univers publics
            <div class="resize-display-btn">
              <svg class="defs">
                <defs>
                  <filter id="gooeyness">
                    <feGaussianBlur
                      in="SourceGraphic"
                      stdDeviation="2.2"
                      result="blur"
                    />
                    <feColorMatrix
                      in="blur"
                      mode="matrix"
                      values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10"
                      result="gooeyness"
                    />
                    <feComposite
                      in="SourceGraphic"
                      in2="gooeyness"
                      operator="atop"
                    />
                  </filter>
                </defs>
              </svg>
              <div class="burger-plates">
                <div
                  class="burger-plate burger-plate4"
                  onclick="this.classList.toggle('burger-active')"
                  (click)="togglePublic()"
                  appVisibilityToggle="#publicUniversesPanel"
                >
                  <svg
                    class="burger"
                    version="1.1"
                    height="100"
                    width="100"
                    viewBox="0 0 100 100"
                  >
                    <path class="burger-line burger-line1" d="M 50,35 H 30" />
                    <path class="burger-line burger-line2" d="M 50,35 H 70" />
                    <path class="burger-line burger-line3" d="M 50,50 H 30" />
                    <path class="burger-line burger-line4" d="M 50,50 H 70" />
                    <path class="burger-line burger-line5" d="M 50,65 H 30" />
                    <path class="burger-line burger-line6" d="M 50,65 H 70" />
                  </svg>
                  <svg
                    class="burger-x"
                    version="1.1"
                    height="100"
                    width="100"
                    viewBox="0 0 100 100"
                  >
                    <path class="burger-line" d="M 34,32 L 66,68" />
                    <path class="burger-line" d="M 66,32 L 34,68" />
                  </svg>
                </div>
              </div>
              <button class="display-btn"></button>
            </div>
          </h3>
          <div id="publicUniversesPanel" class="hidden">
            <div
              class="row universe-item"
              *ngFor="let universe of publicUniverses()"
            >
              <button (click)="onSelect(universe)">
                {{ universe.name }}
              </button>
              <p>{{ universe.description }}</p>
            </div>
          </div>
        </div>
      </section>

      <section class="create-universe">
        <h1>
          Ou créez en un nouveau
          <div class="resize-display-btn">
            <svg class="defs">
              <defs>
                <filter id="gooeyness">
                  <feGaussianBlur
                    in="SourceGraphic"
                    stdDeviation="2.2"
                    result="blur"
                  />
                  <feColorMatrix
                    in="blur"
                    mode="matrix"
                    values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10"
                    result="gooeyness"
                  />
                  <feComposite
                    in="SourceGraphic"
                    in2="gooeyness"
                    operator="atop"
                  />
                </filter>
              </defs>
            </svg>
            <div class="burger-plates">
              <div
                class="burger-plate burger-plate4"
                onclick="this.classList.toggle('burger-active')"
                appVisibilityToggle="#create-universe"
              >
                <svg
                  class="burger"
                  version="1.1"
                  height="100"
                  width="100"
                  viewBox="0 0 100 100"
                >
                  <path class="burger-line burger-line1" d="M 50,35 H 30" />
                  <path class="burger-line burger-line2" d="M 50,35 H 70" />
                  <path class="burger-line burger-line3" d="M 50,50 H 30" />
                  <path class="burger-line burger-line4" d="M 50,50 H 70" />
                  <path class="burger-line burger-line5" d="M 50,65 H 30" />
                  <path class="burger-line burger-line6" d="M 50,65 H 70" />
                </svg>
                <svg
                  class="burger-x"
                  version="1.1"
                  height="100"
                  width="100"
                  viewBox="0 0 100 100"
                >
                  <path class="burger-line" d="M 34,32 L 66,68" />
                  <path class="burger-line" d="M 66,32 L 34,68" />
                </svg>
              </div>
            </div>
            <button class="display-btn"></button>
          </div>
        </h1>
        <!-- Section pour ajouter un nouvel univers -->
        <div class="col text-center hidden" id="create-universe">
          <div class="row wrap">
            <input
              title="universe"
              placeholder="Votre nouvel univers"
              type="text"
              [(ngModel)]="newUniverse().name"
              (ngModelChange)="onNameChange($event)"
            />
            <textarea
              name="universe description"
              placeholder="Description de l'univers"
              [(ngModel)]="newUniverse().description"
              (ngModelChange)="onDescriptionChange($event)"
            ></textarea>
            <!-- Checkbox pour choisir la visibilité -->
            <label>
              <input
                type="checkbox"
                [(ngModel)]="newUniverse().is_public"
                (ngModelChange)="onPublicChange($event)"
              />
              Public
            </label>
            <button (click)="onCreate()">Créer</button>
          </div>
          <h2>Selectionnez un univers pour continuer</h2>
        </div>
      </section>

      <!-- Affichage de l'univers sélectionné en temps réel -->
      <div *ngIf="selectedUniverse" class="selected-universe">
        <h3 class="relative">
          Univers sélectionné :
          <i class="deselect-universe" (click)="onDeselect()"
            >Deselectionner ❌</i
          >
        </h3>
        <p><strong>Nom :</strong> {{ selectedUniverse.name }}</p>
        <p><strong>Description :</strong> {{ selectedUniverse.description }}</p>
        <a routerLink="/game/new-game/universe/{{ selectedUniverse.id }}"
          >Suivant</a
        >
      </div>
    </div>
  </div>
</div>
