<header>
    <h1>Login</h1>
</header>

<section class="login-form">
    <form (ngSubmit)="loginWithEmail()">
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>

        <div class="auth-providers">
            <button type="button" class="btn google-btn" (click)="signInWithGoogle()">
                <img src="assets/google-logo.png" alt="Google Logo"> Sign in with Google
            </button>
        </div>

        <button type="submit" class="btn">Login</button>
    </form>
</section>

<footer>
    <p>© 2025 Mini Roleplay Journey. All rights reserved.</p>
</footer>