@import "../../styles.scss";
.navbar {
  position: fixed;
  top: 0;
  width: 90%;
  left: 2.5%;
  margin-top: 4%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: expandNavbar 0.3s ease forwards; // Animation par défaut
  transition: width 0.3s ease, left 0.3s ease;
  * {
    color: white;
  }
  *:hover {
    color: $tiffany-blue;
  }
  button:hover,
  .btn:hover {
    color: lighten($color: $tiffany-blue, $amount: 15);
  }

  &.collapsed {
    width: 23px;
    overflow: hidden;
    justify-content: flex-end;
    gap: 100px;
    left: 89.3%;
    animation: collapseNavbar 0.3s ease forwards;

    .toggle-btn {
      transform: rotate(90deg);
    }
  }
}

@keyframes collapseNavbar {
  0% {
    width: 90%;
    left: 2.5%;
  }
  100% {
    width: 23px;
    left: 89.3%;
  }
}

@keyframes expandNavbar {
  0% {
    width: 23px;
    left: 89.3%;
  }
  100% {
    width: 90%;
    left: 2.5%;
  }
}
.navbar a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s ease;
  margin: 0 10px;

  justify-self: center;
}

.navbar .btn {
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;

  justify-self: center;
}

.navbar .user-info {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 500;

  justify-self: center;
}

.navbar .user-info span {
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .toggle-btn {
  font-size: 24px;
  cursor: pointer;
  color: white;
  transition: transform 0.3s ease;
}
