<div class="nav-container">
  <div class="navbar" [ngClass]="{ collapsed: isCollapsed }">
    <div class="toggle-btn" (click)="toggleNavbar()">☰</div>
    @if (authService.currentUser() === null) {
    <div class="nav-links">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </div>
    } @if (authService.currentUser()) {
    <div class="nav-links">
      <a routerLink="/profile">Profile</a>
      <a (click)="logout()">Logout </a>
    </div>
    }
  </div>
</div>
