svg.burger,
svg.burger-x,
svg.defs {
  height: 80px;
  position: absolute;
  width: 80px;
}
.burger-plates {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.burger-plate {
  height: 80px;
  width: 80px;
  margin: -7px -17px;
}
.burger {
  filter: url(#gooeyness);
}
.burger-x {
  transform: scale(0);
  transition: transform 400ms;
}
.burger-line {
  fill: none;
  stroke: black;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms,
    transform 500ms 200ms;
}
.burger-x .burger-line {
  stroke-width: 5.5px;
}
/* First burger-plate */
.burger-plate1 .burger-line2 {
  stroke-dasharray: 40 200;
  stroke-dashoffset: 0px;
}
.burger-plate1 .burger-line3 {
  stroke-dasharray: 40 179;
  stroke-dashoffset: 0px;
}
.burger-active .burger-line {
  transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}
.burger-active.burger-plate1 .burger-line1 {
  transform: scale(0, 1);
  transition: transform 500ms 100ms;
}
.burger-active.burger-plate1 .burger-line2 {
  stroke-dasharray: 5px 200;
  stroke-dashoffset: -164px;
}
.burger-active.burger-plate1 .burger-line3 {
  stroke-dasharray: 5px 179;
  stroke-dashoffset: -142px;
}
.burger-active .burger-x {
  transform: scale(1);
  transition: transform 400ms 350ms;
}
/* El segundo plato */
.burger-plate2 .burger-line1 {
  stroke-dasharray: 21 185.62753295898438;
  transition-delay: 0;
}
.burger-plate2 .burger-line2 {
  stroke-dasharray: 21 178.6514129638672;
  transition-delay: 30ms;
}
.burger-plate2 .burger-line3 {
  stroke-dasharray: 21 197.92425537109375;
  transition-delay: 60ms;
}
.burger-plate2 .burger-line4 {
  stroke-dasharray: 21 190.6597137451172;
  transition-delay: 90ms;
}
.burger-plate2 .burger-line5 {
  stroke-dasharray: 21 208.52874755859375;
  transition-delay: 120ms;
}
.burger-plate2 .burger-line6 {
  stroke-dasharray: 21 186.59703063964844;
  transition-delay: 150ms;
}
.burger-active.burger-plate2 .burger-line1 {
  stroke-dasharray: 5 185.62753295898438;
  stroke-dashoffset: -141px;
}
.burger-active.burger-plate2 .burger-line2 {
  stroke-dasharray: 5 178.6514129638672;
  stroke-dashoffset: -137px;
}
.burger-active.burger-plate2 .burger-line3 {
  stroke-dasharray: 5 197.92425537109375;
  stroke-dashoffset: -176px;
}
.burger-active.burger-plate2 .burger-line4 {
  stroke-dasharray: 5 190.6597137451172;
  stroke-dashoffset: -159px;
}
.burger-active.burger-plate2 .burger-line5 {
  stroke-dasharray: 5 208.52874755859375;
  stroke-dashoffset: -139px;
}
.burger-active.burger-plate2 .burger-line6 {
  stroke-dasharray: 5 186.59703063964844;
  stroke-dashoffset: -176px;
}
.burger-active.burger-plate2 .burger-x {
  transition: transform 400ms 250ms;
}

/* O terceiro prato */
.burger-plate3 .burger-line {
  transition: stroke-dasharray 300ms 200ms, stroke-dashoffset 300ms 200ms,
    transform 300ms 200ms;
}
.burger-plate3 .burger-line1 {
  stroke-dasharray: 21 109;
}
.burger-plate3 .burger-line2 {
  stroke-dasharray: 21 112;
}
.burger-plate3 .burger-line3 {
  stroke-dasharray: 21 102;
}
.burger-plate3 .burger-line4 {
  stroke-dasharray: 21 103;
}
.burger-plate3 .burger-line5 {
  stroke-dasharray: 21 110;
}
.burger-plate3 .burger-line6 {
  stroke-dasharray: 21 115;
}
.burger-plate3 .burger-x {
  transition: transform 400ms 50ms;
}

.burger-active.burger-plate3 .burger-line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}
.burger-active.burger-plate3 .burger-line1 {
  stroke-dasharray: 5 109;
  stroke-dashoffset: -95px;
}
.burger-active.burger-plate3 .burger-line2 {
  stroke-dasharray: 5 112;
  stroke-dashoffset: -96px;
}
.burger-active.burger-plate3 .burger-line3 {
  stroke-dasharray: 5 102;
  stroke-dashoffset: -79px;
}
.burger-active.burger-plate3 .burger-line4 {
  stroke-dasharray: 5 103;
  stroke-dashoffset: -78px;
}
.burger-active.burger-plate3 .burger-line5 {
  stroke-dasharray: 5 110;
  stroke-dashoffset: -63px;
}
.burger-active.burger-plate3 .burger-line6 {
  stroke-dasharray: 5 115;
  stroke-dashoffset: -64px;
}
.burger-active.burger-plate3 .burger-x {
  transition: transform 400ms 100ms;
}
/* Die vierte teller */
.burger-plate4 .burger-x {
  transition: transform 400ms;
}
.burger-plate4 .burger-line {
  transform-origin: 50%;
  transition: transform 400ms 100ms;
}
.burger-active.burger-plate4 .burger-line {
  transition: transform 400ms;
}
.burger-active.burger-plate4 .burger-line1 {
  transform: translateX(18px) translateY(-3px) rotate(-45deg) scale(0.7);
}
.burger-active.burger-plate4 .burger-line2 {
  transform: translateX(-18px) translateY(-3px) rotate(45deg) scale(0.7);
}
.burger-active.burger-plate4 .burger-line3 {
  transform: translateY(0px) rotate(45deg) scale(0.7);
}
.burger-active.burger-plate4 .burger-line4 {
  transform: translateY(0px) rotate(-45deg) scale(0.7);
}
.burger-active.burger-plate4 .burger-line5 {
  transform: translateX(18px) translateY(3px) rotate(45deg) scale(0.7);
}
.burger-active.burger-plate4 .burger-line6 {
  transform: translateX(-18px) translateY(3px) rotate(-45deg) scale(0.7);
}
.burger-active.burger-plate4 .burger-x {
  transition: transform 400ms 100ms;
  transform: scale(1);
}
/* Den femte rätten */
.burger-plate5 .burger-line {
  transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms,
    transform 400ms 100ms;
}
.burger-plate5 .burger-line1 {
  stroke-dasharray: 40 40;
}
.burger-plate5 .burger-line2 {
  stroke-dasharray: 21 39;
}
.burger-plate5 .burger-line3 {
  stroke-dasharray: 21 39;
}
.burger-plate5 .burger-line4 {
  stroke-dasharray: 40 40;
}
.burger-plate5 .burger-x {
  transition: transform 400ms 50ms;
}

.burger-active.burger-plate5 .burger-line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}
.burger-active.burger-plate5 .burger-line1 {
  stroke-dasharray: 1 40;
  stroke-dashoffset: -33px;
}
.burger-active.burger-plate5 .burger-line2 {
  stroke-dasharray: 5 39;
  stroke-dashoffset: -37px;
}
.burger-active.burger-plate5 .burger-line3 {
  stroke-dasharray: 5 39;
  stroke-dashoffset: -37px;
}
.burger-active.burger-plate5 .burger-line4 {
  stroke-dasharray: 1 40;
  stroke-dashoffset: -33px;
}
.burger-active.burger-plate5 .burger-x {
  transition: transform 400ms 50ms;
}
/* Шестая пластина */
.burger-plate6 .burger-line {
  transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms,
    transform 400ms 100ms;
}
.burger-plate6 .burger-line1 {
  stroke-dasharray: 21 127;
}
.burger-plate6 .burger-line2 {
  stroke-dasharray: 21 106;
}
.burger-plate6 .burger-line3 {
  stroke-dasharray: 21 106;
}
.burger-plate6 .burger-line4 {
  stroke-dasharray: 21 126;
}
.burger-plate6 .burger-x {
  transition: transform 400ms 50ms;
}

.burger-active.burger-plate6 .burger-line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}
.burger-active.burger-plate6 .burger-line1 {
  stroke-dasharray: 2 127;
  stroke-dashoffset: -94px;
}
.burger-active.burger-plate6 .burger-line2 {
  stroke-dasharray: 2 106;
  stroke-dashoffset: -91px;
}
.burger-active.burger-plate6 .burger-line3 {
  stroke-dasharray: 2 106;
  stroke-dashoffset: -91px;
}
.burger-active.burger-plate6 .burger-line4 {
  stroke-dasharray: 2 127;
  stroke-dashoffset: -94px;
}
.burger-active.burger-plate6 .burger-x {
  transition: transform 400ms 50ms;
}
/* 제 7 판 */
.burger-plate7 .burger-line {
  transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms,
    transform 400ms 100ms;
}
.burger-plate7 .burger-line1 {
  stroke-dasharray: 21 102;
}
.burger-plate7 .burger-line2 {
  stroke-dasharray: 21 92;
}
.burger-plate7 .burger-line3 {
  stroke-dasharray: 21 97;
}
.burger-plate7 .burger-line4 {
  stroke-dasharray: 21 97;
}
.burger-plate7 .burger-line5 {
  stroke-dasharray: 21 92;
}
.burger-plate7 .burger-line6 {
  stroke-dasharray: 21 102;
}
.burger-plate7 .burger-x {
  transition: transform 400ms 50ms;
}

.burger-active.burger-plate7 .burger-line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}
.burger-active.burger-plate7 .burger-line1 {
  stroke-dasharray: 2 102;
  stroke-dashoffset: -102px;
}
.burger-active.burger-plate7 .burger-line2 {
  stroke-dasharray: 2 92;
  stroke-dashoffset: -92px;
}
.burger-active.burger-plate7 .burger-line3 {
  stroke-dasharray: 2 97;
  stroke-dashoffset: -97px;
  transition-delay: 20ms;
}
.burger-active.burger-plate7 .burger-line4 {
  stroke-dasharray: 2 97;
  stroke-dashoffset: -97px;
  transition-delay: 20ms;
}
.burger-active.burger-plate7 .burger-line5 {
  stroke-dasharray: 2 92;
  stroke-dashoffset: -90px;
  transition-delay: 40ms;
}
.burger-active.burger-plate7 .burger-line6 {
  stroke-dasharray: 2 102;
  stroke-dashoffset: -100px;
  transition-delay: 40ms;
}
.burger-active.burger-plate7 .burger-x {
  transition: transform 400ms 50ms;
}
/* Όγδοο πιάτο */
.burger-plate8 .burger-line {
  transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms,
    transform 400ms 100ms;
}
.burger-plate8 .burger-line1 {
  stroke-dasharray: 21 201;
}
.burger-plate8 .burger-line2 {
  stroke-dasharray: 21 201;
  transition-delay: 20ms;
}
.burger-plate8 .burger-line3 {
  stroke-dasharray: 21 201;
  transition-delay: 40ms;
}
.burger-plate8 .burger-line4 {
  stroke-dasharray: 21 201;
  transition-delay: 60ms;
}
.burger-plate8 .burger-line5 {
  stroke-dasharray: 21 201;
  transition-delay: 80ms;
}
.burger-plate8 .burger-line6 {
  stroke-dasharray: 21 201;
  transition-delay: 100ms;
}
.burger-plate8 .burger-x {
  transition: transform 400ms 50ms;
}

.burger-active.burger-plate8 .burger-line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}
.burger-active.burger-plate8 .burger-line1 {
  stroke-dasharray: 5 201;
  stroke-dashoffset: -158px;
}
.burger-active.burger-plate8 .burger-line2 {
  stroke-dasharray: 5 201;
  stroke-dashoffset: -158px;
  transition-delay: 20ms;
}
.burger-active.burger-plate8 .burger-line3 {
  stroke-dasharray: 5 201;
  stroke-dashoffset: -158px;
  transition-delay: 40ms;
}
.burger-active.burger-plate8 .burger-line4 {
  stroke-dasharray: 5 201;
  stroke-dashoffset: -158px;
  transition-delay: 60ms;
}
.burger-active.burger-plate8 .burger-line5 {
  stroke-dasharray: 5 201;
  stroke-dashoffset: -158px;
  transition-delay: 80ms;
}
.burger-active.burger-plate8 .burger-line6 {
  stroke-dasharray: 5 201;
  stroke-dashoffset: -158px;
  transition-delay: 100ms;
}
.burger-active.burger-plate8 .burger-x {
  transition: transform 400ms 50ms;
}
