$tiffany-blue: #0abab5;

.nav-container {
  position: absolute;
  top: 1%;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  z-index: 20;
  &.collapsed {
    height: 80px;
    width: 80px;
    margin-left: 20px;
  }
}

.navbar {
  position: relative;
  margin: 0;
  min-height: 60px;
  max-width: 90vw;
  display: flex;
  align-self: center;
  justify-content: flex-start;
  gap: 3%;
  align-items: center;
  padding: 0px 20px;
  background: rgba(255, 255, 255, 0.08);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: expandNavbar 0.3s ease forwards;
  transition: all 0.3s ease;
  overflow: hidden;
  * {
    color: white;
  }

  *:hover {
    color: $tiffany-blue;
  }

  button:hover,
  .btn:hover {
    color:  $tiffany-blue;;
  }

  &.collapsed {
    width: 22px;
    height: 62px;
    overflow: hidden;
    margin-right: auto;
    margin-left: 3.3%;
    animation: collapseNavbar 0.3s ease forwards;
    gap: 90%;
    .nav-links {
      opacity: 0;
      transition: all 0s;
      margin-left: 30px;
    }
    .fullscreen-btn {
      display: none;
    }
  }
}

// (Les animations et autres styles restent inchangés)

@keyframes collapseNavbar {
  0% {
    width: 90%;
    gap: 3%;
  }
  100% {
    width: 22px;
    gap: 60px;
  }
}

@keyframes expandNavbar {
  0% {
    width: 22px;
    margin-right: auto;
    margin-left: 3.3%;
    gap: 60px;
  }
  99% {
    margin-right: auto;
    margin-left: 3.3%;
  }
  100% {
    width: 90%;
    gap: 3%;
  }
}
.navbar a {
  text-decoration: none;
  font-size: x-large;
  font-weight: 400;
  transition: all 0.3s ease;
  margin: 0 10px;

  justify-self: center;
}

.navbar .btn {
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;

  justify-self: center;
}

.navbar .toggle-btn {
  position: absolute;
  font-size: 25px;
  margin-left: -10px;
  margin-top: -8px;

  cursor: pointer;
  color: white;
}

.fullscreen-btn {
  display: flex;
  position: absolute;
  right: 20px;
  color: white;
  filter: brightness(0.95);
}

.fullscreen-i {
  margin: -7px;
  transform: scale(0.65);
}

.nav-links {
  margin: auto;
  display: flex;
  margin-top: 6px;
}
a.squishy-cosmic {
  padding: 0.4rem 1.1rem;
  transition: all 0.3s ease;
}

.squishy-cosmic {
  margin: 0;
  padding: 0.2rem 0.6rem;
  opacity: 0.65;
}

.squishy-cosmic:hover {
  opacity: 0.65;
}

.resize-menu-btn {
  transform: scale(0.5);
  margin-top: -35px;
  .burger-plates {
    z-index: 2;
    width: 100px;
    height: 100px;
  }
  .burger-line {
    stroke: white;
  }
  button {
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
  .menu-btn {
    margin: -17px -27px;
  }
  .burger-plates:hover + .menu-btn {
    transform: translateY(4px);
  }
  .burger-plates:hover {
    transform: translateY(4px);
  }
}

@media screen and (max-width: 790px) {
  .navbar {
    max-width: 80%;
    &.collapsed {
      width: 22px;
      overflow: hidden;
      // On force l'élément à se déplacer à droite dans le conteneur flex
      margin-left: 3.6;
      margin-right: auto;
    }

    .nav-links {
      margin-top: 10px;
    }

    a {
      font-size: medium;
    }
  }
}
// vertical nav

@media screen and (max-width: 424px) {
  .nav-container {
    height: 100vh;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
  }
  .navbar {
    align-self: flex-start;
    margin-left: 2vw;
    margin-top: 2vh;
    max-width: 70%;
    max-height: 90vh;
    flex-direction: column;
    .nav-links {
      display: flex;
      flex-direction: column;
      margin: 20px;
      gap: 20px;
    }
    .toggle-btn {
      position: relative;
      margin: 10px;
      align-self: flex-start;
    }
    .fullscreen-btn {
      display: flex;
      align-self: flex-end;
      margin-right: -35px;
      margin-top: 30px;
    }
    &.collapsed {
      height: 50px;
      .nav-links {
        display: none;
      }
      .toggle-btn {
        position: absolute;
        margin-left: -10px;
        margin-top: 7px;
      }
      .burger-plates {
        margin: 25px 17px;
      }

      .resize-menu-btn {
        margin-top: 0px;
        margin-left: -40px;
      }
    }
  }

  .resize-menu-btn {
    transform: scale(0.5);
    margin-top: -10px;
    margin-left: -30vw;
    .burger-plates {
      position: absolute;
      z-index: 2;
      width: 100px;
      height: 100px;
    }
    .burger-line {
      stroke: white;
    }
    button {
      z-index: 1;
      width: 100px;
      height: 100px;
      border-radius: 20px;
    }
    .menu-btn {
      margin: -17px -27px;
    }
    .burger-plates:hover + .menu-btn {
      transform: translateY(4px);
    }
    .burger-plates:hover {
      transform: translateY(4px);
    }
  }
}

// @media screen and (max-width: 360px) {
//   .navbar {
//     .nav-links {
//       margin-right: -5%;
//     }
//   }
// }
