<div class="nav-container">
  <div class="navbar" [ngClass]="{ collapsed: isCollapsed }">
    <button class="squishy squishy-cosmic toggle-btn" (click)="toggleNavbar()">
      ☰
    </button>

    @if (authService.currentUser() === null) {
    <div class="nav-links">
      <a class="squishy squishy-cosmic" routerLink="/auth/login"
        >Se connecter</a
      >
      <a class="squishy squishy-cosmic" routerLink="/auth/register"
        >S'inscrire</a
      >
    </div>
    } @if (authService.currentUser()) {
    <div class="nav-links">
      <a class="squishy squishy-cosmic" routerLink="/user/profile">Profil</a>
      <a class="squishy squishy-cosmic" routerLink="/game/new-game/start"
        >Nouveau jeu</a
      >
    </div>
    }
  </div>
</div>
