<div class="nav-container">
  <div class="navbar" [ngClass]="{ collapsed: isCollapsed }">
    <button class="squishy squishy-cosmic toggle-btn" (click)="toggleNavbar()">
      ☰
    </button>

    @if (authService.currentUser() === null) {
    <div class="nav-links">
      <a class="squishy squishy-cosmic" routerLink="/auth/login">Login</a>
      <a class="squishy squishy-cosmic" routerLink="/auth/register">Register</a>
    </div>
    } @if (authService.currentUser()) {
    <div class="nav-links">
      <a class="squishy squishy-cosmic" routerLink="/user/profile">Profile</a>
      <a class="squishy squishy-cosmic" (click)="logout()">Logout </a>
    </div>
    }
  </div>
</div>
