<app-nav></app-nav>
<div class="colored-container">
  <div class="scrollable">
    <header>
      <h1>
        Profil de {{ authService.currentUser()?.username || "Non défini" }}
      </h1>
    </header>

    <!-- Champ : Nom d'utilisateur -->
    <div class="user-field row">
      <ng-container *ngIf="!editUsername; else editUsernameTemplate">
        <p>
          <strong>Nom d'utilisateur :</strong>
          {{ authService.currentUser()?.username || "Non défini" }}
        </p>
        <!-- Bouton avec icône de crayon pour démarrer l'édition -->
        <button (click)="startEdit('username')">✎</button>
      </ng-container>
      <ng-template #editUsernameTemplate>
        <input
          [(ngModel)]="newUsername"
          placeholder="Nouveau nom d'utilisateur"
        />
        <button (click)="updateUsername()">Modifier</button>
        <button (click)="cancelEdit('username')">Annuler</button>
      </ng-template>
    </div>

    <!-- Champ : Nom complet -->
    <div class="user-field row">
      <ng-container *ngIf="!editFullName; else editFullNameTemplate">
        <p>
          <strong>Nom complet :</strong>
          {{ authService.currentUser()?.full_name || "Non défini" }}
        </p>
        <button (click)="startEdit('fullName')">✎</button>
      </ng-container>
      <ng-template #editFullNameTemplate>
        <input [(ngModel)]="newFullName" placeholder="Nom complet" />
        <button (click)="updateFullName()">Modifier</button>
        <button (click)="cancelEdit('fullName')">Annuler</button>
      </ng-template>
    </div>

    <!-- Champ : Site web
    <div class="user-field">
      <ng-container *ngIf="!editWebsite; else editWebsiteTemplate">
        <p>
          <strong>Site web :</strong>
          {{ authService.currentUser()?.website || "Non défini" }}
        </p>
        <button (click)="startEdit('website')">
          ✎
        </button>
      </ng-container>
      <ng-template #editWebsiteTemplate>
        <input [(ngModel)]="newWebsite" placeholder="Votre site web" />
        <button (click)="updateWebsite()">
          Modifier
        </button>
        <button (click)="cancelEdit('website')">
          Annuler
        </button>
      </ng-template>
    </div> -->

    <!-- Champ : URL de l'avatar -->
    <div class="user-field row">
      <ng-container *ngIf="!editAvatar; else editAvatarTemplate">
        <p>
          <strong>Avatar :</strong>
          {{ authService.currentUser()?.avatar_url || "Non défini" }}
        </p>
        <button (click)="startEdit('avatar')">✎</button>
      </ng-container>
      <ng-template #editAvatarTemplate>
        <input [(ngModel)]="newAvatarUrl" placeholder="URL de l'avatar" />
        <button (click)="updateAvatarUrl()">Modifier</button>
        <button (click)="cancelEdit('avatar')">Annuler</button>
      </ng-template>
    </div>

    <button style="scale: 1.4; min-height: fit-content" (click)="logout()">
      Se déconnecter
    </button>
  </div>
</div>
