<app-nav></app-nav>
<div class="colored-back-container"></div>
<div class="colored-container">
  <div class="scrollable">
    <div class="card">
      <header>
        <h1>Créer un compte</h1>
      </header>
      @if (errorMessage) {
      <div>{{ errorMessage }}</div>
      }

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <input
            class="UserLogForm"
            type="text"
            placeholder="Username"
            formControlName="username"
          />
        </div>
        <div>
          <input
            class="UserLogForm"
            type="text"
            placeholder="Email"
            formControlName="email"
          />
        </div>
        <div>
          <input
            class="UserLogForm"
            type="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <div>
          <button type="submit" class="squishy" [disabled]="form.invalid">
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
