<app-nav></app-nav>
<div class="colored-container">
  <div class="scrollable">
    <header>
      <h1>Mini Roleplay Journey</h1>
      <p class="bigText">Quick, immersive, and customizable RPG experiences.</p>
      <a href="/login" class="squishy squishy-candy">Play</a>
    </header>

    <section class="faq">
      <h2>How It Works</h2>
      <div class="faq-item">
        <h3>What is Mini Roleplay Journey?</h3>
        <p>
          A quick, immersive, and customizable RPG experience for players who
          want engaging stories in just 5 minutes.
        </p>
      </div>
      <div class="faq-item">
        <h3>Do I need to create a character?</h3>
        <p>
          You can create a character from scratch or pick from preset universes
          full of characters, stories, and interactions.
        </p>
      </div>
      <div class="faq-item">
        <h3>Is it multiplayer?</h3>
        <p>
          Yes! You can collaborate with friends for a rich roleplaying
          experience.
        </p>
      </div>
    </section>
    <app-footer></app-footer>
  </div>
</div>
