@import "../../styles.scss";

.bigText {
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  margin-bottom: 1rem;
}

.faq {
  padding: 20px;
  text-align: left;
  max-width: 800px;
  max-height: 400px;
  overflow: scroll;
  margin: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.faq-item {
  margin-bottom: 20px;
}
