@import "../../styles.scss";

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(300deg, $tiffany-blue, $grape, $neon-blue);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  color: white;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bigText {
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  margin-bottom: 1rem;
}

.faq {
  padding: 20px;
  text-align: left;
  max-width: 800px;
  margin: auto;
}

.faq-item {
  margin-bottom: 20px;
}
