<app-universes
  [selectedUniverse]="selectedUniverse"
  [newUniverse]="newUniverse"
  [loadMirojoUniverses]="loadMirojoUniverses"
  [loadUserUniverses]="loadUserUniverses"
  [loadPublicUniverses]="loadPublicUniverses"
  (selectUniverse)="selectUniverse($event)"
  (deselectUniverse)="deselectUniverse()"
  (createUniverse)="createUniverse()"
  (deleteUniverse)="deleteUniverse($event)"
  [mirojoUniverses]="mirojoUniverses"
  [userUniverses]="userUniverses"
  [publicUniverses]="publicUniverses"
></app-universes>
